header {
<<<<<<< HEAD
    
    background-color: #ff0000;
    
    height: 70px;
    
    width: 100%;
    
=======
    background-color: #FF0000;
    height: 70px;
    width: 100%;
>>>>>>> 8194a587a354c75f362b5a457e15ddd703965f35
}
